doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0')
    meta(name='format-detection', content='telephone=no,email=no,date=no,address=no')
    link(rel='stylesheet', href='/css/aui.css')
  body
    div(class='aui-content')
      block content
    //footer(class="aui-bar aui-bar-tab" id="footer")
    //  div( class="aui-bar-tab-item aui-active", tapmode)
    //    i( class="aui-iconfont aui-icon-home")
    //    div( class="aui-bar-tab-label") 首页
    //  div( class="aui-bar-tab-item", tapmode)
    //    i( class="aui-iconfont aui-icon-star")
    //    div( class="aui-bar-tab-label") 收藏
    //  div( class="aui-bar-tab-item", tapmode)
    //    div( class="aui-badge") 99
    //    i( class="aui-iconfont aui-icon-cart")
    //    div( class="aui-bar-tab-label") 购物车
    //  div( class="aui-bar-tab-item", tapmode)
    //    div( class="aui-dot")
    //    i( class="aui-iconfont aui-icon-my")
    //    div( class="aui-bar-tab-label") 我的
